<%= form_with model: @skill do |form| %>
  <div>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
    <% @skill.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :image %><br />
    <%= form.text_field :image %>
    <% @skill.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :summary %><br />
    <%= form.text_area :summary %>
    <% @skill.errors.full_messages_for(:summary).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :passwd %><br />
    <%= form.text_field :passwd %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
